:root{
  --color-primary: #3498db;
  --color-secondary: #e74c3c;
  --color-1: Blue;
  --color-2: Red;
  --color-3: Green;
  --color-4: Yellow;
  --color-dark-mode: #222;
  --color-light-mode: #ddd;
  --column-width: 200px;
  --column-gap: 20px;
  --container-padding: 20px;
  --font-color-dark: #fff;
  --font-color-light: #000;
}

body {
  /* background-color: var(--color-primary); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: var(--column-gap);
}

/* Assignment 1 specific code */
.primary{
  color: var(--color-primary);
}

.secondary{
  color: var(--color-secondary);
}
/* Assignment 1 specific code */

/* Assignment 2 specific code */
.color-1{
  background-color: var(--color-1);
  width: var(--column-width);
  padding: var(--container-padding);
  color: var(--font-color-dark);
}

.color-2{
  background-color: var(--color-2);
  width: var(--column-width);
  padding: var(--container-padding);
  color: var(--font-color-dark);
}

.color-3{
  background-color: var(--color-3);
  width: var(--column-width);
  padding: var(--container-padding);
  color: var(--font-color-dark);
}

.color-4{
  background-color: var(--color-4);
  width: var(--column-width);
  padding: var(--container-padding);
  color: var(--font-color-dark);
}
/* Assignment 2 specific code */

/* Assignment 3 specific code */

.container-mode{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.light-mode{
  background-color: var(--color-light-mode);
  color: var(--font-color-light);
}

.dark-mode{
  background-color: var(--color-dark-mode);
  color: var(--font-color-dark);
}

/* Assignment 3 specific code */