:root{
  --color-primary: #3498db;
  --color-secondary: #e74c3c;
  --color-1: Blue;
  --color-2: Red;
  --color-3: Green;
  --color-4: Yellow;
  --white0: #f8f8f8;
  --white1: #dbe1e8;
  --white2: #b2becd;
  --dark0: #454e56;
  --dark1: #2a2e35;
  --dark2: #12181b;
  --column-width: 200px;
  --column-gap: 20px;
  --container-padding: 20px;
  --font-color-dark: #fff;
  --font-color-light: #000;
}

body {
  /* background-color: var(--color-primary); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text);
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: var(--column-gap);
}

/* Assignment 1 specific code */
.primary{
  color: var(--color-primary);
}

.secondary{
  color: var(--color-secondary);
}
/* Assignment 1 specific code */

/* Assignment 2 specific code */
.color-1{
  background-color: var(--color-1);
  width: var(--column-width);
  padding: var(--container-padding);
  color: var(--font-color-dark);
}

.color-2{
  background-color: var(--color-2);
  width: var(--column-width);
  padding: var(--container-padding);
  color: var(--font-color-dark);
}

.color-3{
  background-color: var(--color-3);
  width: var(--column-width);
  padding: var(--container-padding);
  color: var(--font-color-dark);
}

.color-4{
  background-color: var(--color-4);
  width: var(--column-width);
  padding: var(--container-padding);
  color: var(--font-color-dark);
}
/* Assignment 2 specific code */

/* Assignment 3 specific code */

.container-mode{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.light{
  --bg: var(--white0);
  --text: var(--font-color-light)
}

.dark{
  --bg: var(--dark1);
  --text: var(--font-color-dark)
}

/* Assignment 3 specific code */

/* Assignment 4 specific code */

.animation{
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: var(--color-secondary);
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.bounce{
  animation: bounce 2s ease infinite;
}

@keyframes bounce{
  0% {transform: translateY(0%);}
  10% {transform: translateY(-30%);}
  20% {transform: translateY(0%);}
  30% {transform: translateY(-20%);}
  40% {transform: translateY(0%);}
  50% {transform: translateY(-15%);}
  60% {transform: translateY(0%);}
  70% {transform: translateY(-7%);}
  80% {transform: translateY(0%);}
  82% {transform: translateY(-3%);}
  90% {transform: translateY(0%);}
}

.gelatine {
  animation: gelatine 2s ease infinite;
}
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  20% { transform: scale(0.9, 1.1); }
  40% { transform: scale(1.1, 0.9); }
  60% { transform: scale(0.95, 1.05); }
}

/* Assignment 4 specific code */